{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'branding/admin.css' %}">
{% endblock %}

{% block branding %}
  <h1 id="site-name" class="inet-admin-brand">
    <a href="{% url 'admin:index' %}" class="inet-admin-brand-link">
      <img src="{% static 'branding/integra_logo.png' %}" alt="IntegraNet" class="inet-admin-logo">
      <span class="inet-admin-title">IntegraNet Training Portal</span>
    </a>
  </h1>
{% endblock %}
